<div class="query-box">
  <form id="query-form" action="#{url_for_home}" method="GET">
  <a href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end"><img src="#{url_for_solr}/admin/solr_small.png" id="logo"/></a>
  
    Find: <input type="text" id="q" name="q" value="$!esc.html($request.params.get('q'))"/>
    #if($request.params.get('debugQuery'))
      <input type="hidden" name="debugQuery" value="true"/>
    #end
    #foreach($fq in $request.params.getParams('fq'))
      <input type="hidden" name="fq" value="$esc.html($fq)"/>
    #end
    <div class="constraints">
      #foreach($fq in $request.params.getParams('fq'))
        #set($previous_fq_count=$velocityCount - 1)
      &gt; <a style="{text-decoration: line-through;}" href="#url_for_filters($request.params.getParams('fq').subList(0,$previous_fq_count))">$fq</a>
      #end
    </div>
     #if($request.params.get('debugQuery'))
        <a href="#" onclick='jQuery(this).siblings("pre").toggle(); return false;'>toggle parsed query</a>
        <pre style="display:none">$response.response.debug.parsedquery</pre>
      #end    
  </form>
</div>

<div id="results">#parse("results.vm")</div>
